.feed {
  display: flex;
  flex-direction: column;
  flex: 0.6;
  background-color: transparent;
  margin-left: 10px;
  margin-top: 70px;
  padding: 10px;
}

.feed-top {
  height: 100px;
  width: 100%;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.img {
  display: block;
  align-items: center;
  padding: 8px;
  margin-right: 2%;
}

.img > img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid rgb(43, 127, 253);
}

.feed-top-input {
  width: 80%;
  height: fit-content;
  background-color: rgb(245, 242, 242);
  padding: 15px;
  border-radius: 10px;
  font-weight: 600;
  color: rgb(117, 116, 116);
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 20px;
}

.feed-top-input:focus {
  outline: none;
}

.feed-top-input:hover {
  background-color: rgb(216, 214, 214);
}

@media screen and (max-width: 600px) {
  .feed {
    flex: 1;
    margin-left: 0px;
    padding: 10px;
  }
  .feed-top-input {
    margin: auto;
    width: 100%;
    padding: 10px;
  }
}
