.feed {
  display: flex;
  flex-direction: column;
  flex: 0.6;
  background-color: rgb(236, 236, 236);
  margin-left: 10px;
  margin-top: 4.8%;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.feed-top {
  height: 100px;
  width: 100%;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.feed-bottom{
  display: flex;
  width: 100%;
  justify-content: center;
}

.img {
  display: block;
  align-items: center;
  padding: 8px;
  margin-right: 2%;
}

.img > img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid rgb(43, 127, 253);
}

.feed-top-input {
  width: 80%;
  height: fit-content;
  background-color: rgb(245, 242, 242);
  padding: 15px;
  border-radius: 10px;
  font-weight: 600;
  color: rgb(117, 116, 116);
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 20px;
}

.feed-top-input:focus {
  outline: none;
}

.feed-top-input:hover {
  background-color: rgb(216, 214, 214);
}

/* Mobile Screen  */

@media screen and (max-width: 600px) {
  .feed {
    flex: 0.6;
    margin-left: 0;
    margin-top: 12%;
    padding: 15px;
  }

  .feed-top {
    height: 100px;
    width: 100%;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .img {
    display: block;
    align-items: center;
    padding: 8px;
    margin-right: 2%;
  }

  .img > img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid rgb(43, 127, 253);
  }

  .feed-top-input {
    width: 80%;
    height: fit-content;
    background-color: rgb(245, 242, 242);
    padding: 15px;
    border-radius: 10px;
    font-weight: 600;
    color: rgb(117, 116, 116);
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 20px;
  }

  .feed-top-input:focus {
    outline: none;
  }

  .feed-top-input:hover {
    background-color: rgb(216, 214, 214);
  }
}

/* Extra small screen */

@media screen and (max-width: 400px) {
  .feed {
    flex: 0.8;
    margin-left: 0;
    margin-top: 15%;
    padding: 10px;
    margin: auto;
    justify-self: center;
  }

  .feed-top {
    height: 100px;
    width: 100%;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 18%;
  }

  .img {
    display: block;
    align-items: center;
    padding: 8px;
    margin-right: 2%;
  }

  .img > img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid rgb(43, 127, 253);
  }

  .feed-top-input {
    width: 80%;
    height: fit-content;
    background-color: rgb(245, 242, 242);
    padding: 15px;
    border-radius: 10px;
    font-weight: 600;
    color: rgb(117, 116, 116);
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 20px;
  }

  .feed-top-input:focus {
    outline: none;
  }

  .feed-top-input:hover {
    background-color: rgb(216, 214, 214);
  }
}
