*{
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.app{
  display: flex;
  padding: 10px;
  border: 1px solid red;
}
body{
  background-color: rgb(236, 236, 236);
}

@media screen and (max-width: 600px){
  .app{
    display: flex;
    flex-direction: column;
  }
}