*{
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.Appblur{
  filter: blur(10px);
  pointer-events: none;
  user-select: none;

}

.app{
  display: flex;
  padding: 10px;


}
body{
  background-color: rgb(236, 236, 236);
}

@media screen and (max-width: 600px){
  .app{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (amx-width: 400px){
  .app{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}